//
//  JGSourceBaseSPM.debug.xcconfig
//  JGSourceBaseSPM
//
//  Created by Mei JiGao on 2026/6/26.
//  Copyright © 2026 ByMountains. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "JGSourceBaseSPM.xcconfig"
