//
//  JGSourceBase.xcconfig
//  JGSourceBase
//
//  Created by 梅继高 on 2022/5/18.
//  Copyright © 2022 MeiJiGao. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

JGSVersion = 1.4.1
JGSBuild = 20221116
JGSLastCommitDate = 20230226
JGSLastCommitTime = 20230226.184446
JGSLastCommitID = 731b118

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) JGSUserAgent='"JGSourceBase/${JGSVersion}"' JGSVersion='"${JGSVersion}"' JGSBuild='"${JGSBuild}"' JGSResourcesCheckFileHashSecuritySalt='"JGSIntegrityCheck"' JGSApplicationIntegrityCheckFileHashFile='"JGSApplicationIntegrityCheckFileHashFile"'
