<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NFC Scan Record</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>wiki.qaq.cenfc.scan-record</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NFC NDEF Record</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>wiki.qaq.cenfc.ndef-record</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NFC Passport Record</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>wiki.qaq.cenfc.passport-record</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>NFCReader 需要使用 NFC 来读取标签信息</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>开启该权限，并不会获取你在其他站点的隐私信息，该权限仅用于标识设备，以及风控安全需要。</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NFC Scan Record</string>
			<key>UTTypeIdentifier</key>
			<string>wiki.qaq.cenfc.scan-record</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cenfc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NFC NDEF Record</string>
			<key>UTTypeIdentifier</key>
			<string>wiki.qaq.cenfc.ndef-record</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cndef</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NFC Passport Record</string>
			<key>UTTypeIdentifier</key>
			<string>wiki.qaq.cenfc.passport-record</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cenfcpass</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string>0003</string>
		<string>FE00</string>
		<string>8008</string>
		<string>88B4</string>
		<string>12FC</string>
		<string>8005</string>
		<string>90B7</string>
		<string>927A</string>
		<string>86A7</string>
		<string>80DE</string>
		<string>865E</string>
		<string>8592</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>D2760000850101</string>
		<string>D2760000850100</string>
		<string>A0000000031010</string>
		<string>A0000000041010</string>
		<string>A0000002472001</string>
		<string>00000000000000</string>
		<string>A0000000031010</string>
		<string>D2760000850101</string>
		<string>D23300000045737445494420763335</string>
		<string>325041592E5359532E4444463031</string>
		<string>A0000000030000</string>
		<string>315041592E5359532E4444463031</string>
		<string>D2760000850101</string>
		<string>315041592E5359532E4444463031</string>
		<string>A0000002471001</string>
		<string>A0000002472001</string>
		<string>A000000167455349474E</string>
		<string>A000000291</string>
		<string>A000000404</string>
		<string>A00000000386980701</string>
		<string>A0000004520001</string>
		<string>D4100000030001</string>
		<string>D4100000140001</string>
		<string>D410000029000001</string>
		<string>D4100000300001</string>
		<string>D4106509900020</string>
		<string>A000000632010105</string>
		<string>A000000341000101</string>
		<string>5041592E535A54</string>
		<string>D2760000850100</string>
		<string>F049442E43484E</string>
		<string>A000000812010208</string>
		<string>A00000045645444C2D3031</string>
		<string>00000000000000</string>
		<string>A000000077030C60000000FE00000500</string>
		<string>E828BD080FA0000001674544415441</string>
		<string>A000000527471117</string>
		<string>A0000006472F0001</string>
		<string>A0000005272101</string>
		<string>A000000308</string>
		<string>A000000527200101</string>
		<string>A000000151000000</string>
		<string>D392F000260100000001</string>
		<string>D3921000310001010408</string>
		<string>D3921000310001010100</string>
		<string>D3921000310001010401</string>
	</array>
</dict>
</plist>
