//
//  JGSourceBase.xcconfig
//  JGSourceBase
//
//  Created by Mei JiGao on 2026/6/17.
//  Copyright © 2026 ByMountains. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

JGSVersion = 1.4.6
JGSBuild = 20260717.2139
JGSResourceDate = 20260717.2137

GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
